<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <logger name="com.codeborne" level="OFF"/>
    <appender name="ReportPortalAppender" class="com.epam.reportportal.logback.appender.ReportPortalAppender">
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="ReportPortalAppender"/>
    </root>
</configuration>